@import "footer1st.scss";
@import "footer2nd.scss";
@import "subfooter.scss";
@import "lastpart.scss";

// footer>div{
//     border: 1px solid red;
// }

body{
    padding: 0%;
    margin: 0%;
    width: 100%;
}
