.footer1st {
  background: #FFDD78;
  width: 100%;
  height: 352px;
  padding: 0%;
  margin: 0%;
}

@media all and (max-width: 375px) {
  .footer1st {
    width: 100%;
    height: 500px;
  }
}
.footer2nd {
  width: 100%;
  height: 400px;
  padding: 0%;
  margin: 0%;
  background: rgb(245, 246, 252);
  margin: auto;
}

.footer2ndpart {
  width: 80%;
  display: grid;
  padding-top: 5%;
  padding-bottom: 4%;
  grid-template-areas: "fir sec thir fou" "fir sec thir fou";
  justify-content: space-around;
  margin: auto;
  gap: 12%;
}
.footer2ndpart .footer2ndpart div:nth-child(1) {
  grid-area: fir;
}
.footer2ndpart .footer2ndpart div:nth-child(2) {
  grid-area: sec;
}
.footer2ndpart .footer2ndpart div:nth-child(3) {
  grid-area: thir;
}
.footer2ndpart .footer2ndpart div:nth-child(4) {
  grid-area: fou;
}
.footer2ndpart .social-media > img {
  margin-right: 10px;
}

.conform {
  display: flex;
  gap: 8%;
  align-items: center;
}
.conform p {
  color: rgb(168, 169, 173);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.conform #data1 {
  color: #000;
  /* Text_Small */
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 200% */
}
.conform #data2 {
  color: #000;
  /* Text_Small */
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 200% */
}

h4 {
  color: rgb(15, 15, 15);
  /* H4 */
  font-family: DM Serif Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}

.footer2ndpart > div > p {
  color: rgb(168, 169, 173);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.footer2ndpart > div > h5 {
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

@media all and (max-width: 376px) {
  .footer2nd {
    width: 100%;
    height: 720px;
    padding: 0%;
    margin: 0%;
    background: rgb(245, 246, 252);
    margin: auto;
    padding-bottom: 25px;
  }
  .footer2ndpart {
    width: 80%;
    display: grid;
    padding-top: 2%;
    padding-bottom: 2%;
    grid-template-areas: "fir fir" "sec thir" "fou  fou";
    margin: auto;
    gap: 1%;
  }
  .footer2ndpart div:nth-child(1) {
    grid-area: fir;
  }
  .footer2ndpart div:nth-child(2) {
    grid-area: sec;
  }
  .footer2ndpart div:nth-child(3) {
    grid-area: thir;
  }
  .footer2ndpart div:nth-child(4) {
    grid-area: fou;
  }
  .social-media > img {
    margin-right: 10px;
  }
}
#subfooter {
  display: flex;
  margin: 0px 135px 0px 135px;
}

.subfooterfirst {
  width: 46%;
  padding-top: 3.5%;
}
.subfooterfirst h5 {
  color: var(--Text_Black, #000);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
}
.subfooterfirst h2 {
  color: var(--Text_Black, #000);
  font-family: DM Serif Display;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 114.286% */
}

.subfootersecond {
  width: 54%;
}

.subfootersecond #bttn1 {
  width: 160px;
  height: 48px;
  color: #FFF;
  background-color: blue;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  border: none;
  border-radius: 5px;
}

.subfootersecond input {
  margin-top: 28%;
  margin-left: 5%;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid #DADADA;
  background: #FFF;
  width: 280px;
  height: 48px;
}

@media all and (max-width: 376px) {
  #subfooter {
    display: block;
    margin-left: 6%;
    width: 80%;
  }
  .subfooterfirst {
    width: 85%;
    padding-top: 7%;
  }
  .subfooterfirst h5 {
    color: #000;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 180;
    line-height: 14px;
    letter-spacing: 2.8px;
    text-transform: uppercase;
  }
  .subfooterfirst h2 {
    color: var(--Text_Black, #000);
    font-family: DM Serif Display;
    font-size: 40px;
    font-style: normal;
    font-weight: 200;
    line-height: 40px; /* 114.286% */
  }
  .subfootersecond {
    width: 100%;
  }
  .subfootersecond input {
    margin-top: 10%;
    margin-left: 0%;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid #DADADA;
    background: #FFF;
    width: 98%;
    height: 48px;
    margin-bottom: 5%;
  }
  .subfootersecond #bttn1 {
    width: 50%;
    height: 48px;
    color: #FFF;
    background-color: blue;
    text-align: center;
    font-family: DM Sans;
    font-size: 90%;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    border: none;
    border-radius: 5px;
  }
}
.lastpart {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.lastpart p {
  color: rgb(168, 169, 173);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

@media all and (max-width: 376px) {
  .lastpart {
    width: 100%;
    display: block;
    padding: 2%;
  }
  .lastpart p {
    color: rgb(168, 169, 173);
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
}
footer {
  width: 1440px;
}

@media all and (max-width: 376px) {
  footer {
    width: 100%;
  }
}/*# sourceMappingURL=footer.css.map */